<!DOCTYPE html>
<html>
  <head>
    <title>KadaiTasklist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if current_page?(login_path) || current_page?(signup_path) %>
        <h1>タスクリスト</h1>
      <% end %>
    </div>
    
    <div class="container">
      <% if logged_in? %>
        <% if !current_page?(user_path(current_user)) %>
        <% elsif !current_page?(login_path) && !current_page?(signup_path) %>
          《 <%= link_to "ログイン", login_path %> 》
          <span><=========></span>
          《 <%= link_to "登録する", signup_path %> 》
        <% elsif current_page?(signup_path) %>
          《<%= link_to "ログイン", signup_path %>》
        <% else current_page?(login_path) %>
          《 <%= link_to "登録する", login_path %> 》
        <% end %>
      <% end %>
      
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>
